@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--Red) url("images/bg-intro-desktop.png") no-repeat center
    center/cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1240px;
  padding: 2rem;
}

.text-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0 1.8rem;
}

.text-container h1 {
  font-size: 3rem;
  line-height: 3.5rem;
}

.singup-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-right: 2rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  background-color: #fff;
  gap: 1rem;
  border-radius: 10px;
}

.inputs input {
  padding: 1rem 1.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-weight: 700;
}

input::placeholder {
  font-weight: 700;
  opacity: 0.8;
}

input:focus {
  outline-color: var(--Blue);
}

.singup-container .try-it {
  background-color: var(--Blue);
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.singup-container .try-it p span {
  font-weight: 700;
}

button {
  padding: 1rem;
  background-color: var(--Green);
  color: #fff;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 0px rgba(87, 183, 137, 1);
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

button:hover {
  background-color: hsl(154, 76%, 66%);
}

button:active {
  transition: none;
  background-color: hsl(154, 70%, 35%);
}

small {
  text-align: center;
  font-size: 12px;
  color: var(--Grayish-Blue);
  font-weight: 550;
}
small span {
  color: var(--Red);
  font-weight: 700;
  cursor: pointer;
}

.error-img {
  width: 23px;
  display: none;
  position: absolute;
  right: 20px;
  top: 13px;
}

.error-img.active {
  display: block;
  outline-color: var(--Red);
}

.input input.active {
  border-color: var(--Red);
  outline-color: rgb(251, 45, 45);
}

.input {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.input input {
  width: 100%;
}

.errormsg-div {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.error-msg {
  display: none;
  color: var(--Red);
  font-style: italic;
  font-weight: 500;
  padding-top: 0.4rem;
}

.active {
  display: block;
}

@media only screen and (max-width: 425px) {
  .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .text-container {
    margin-bottom: 2rem;
    padding: 1rem;
  }

  .text-container h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .text-container p {
    padding: 0;
  }

  .singup-container {
    padding: 0;
  }
}
